aside.bg-dark.bd-aside.sticky-xl-top.text-muted.align-self-start.mb-3.mb-xl-5.px-2
  h2.text-white.h6.pt-4.pb-3.mb-4.border-bottom Hantera Teams
  nav#toc.small
    ul.list-unstyled
        li
        a.d-inline-flex.align-items-center.rounded(href='/teams/employees.html') Medarbetare
        li
        a.d-inline-flex.align-items-center.rounded(href='/teams/teams.html') Team
        li
        a.d-inline-flex.align-items-center.rounded(href='/teams/roles.html') Roller