#footerQuicklinks.bg-bh-gray-200(class='pt-[50px] pb-[50px]')
    .gridall.text-bh-blue(class='pt-[50px]' style='align-items: end;')
        .col-span-full.text-bh-menu(class='md:col-span-6 lg:col-span-6 xl:col-span-6 2xl:col-span-6 leading-[28px]')
            p &copy; Skanska AB 2022. Shaping the way we live.
            p
                a.text-bh-blue.underline(href='/link/208bb3860e324da59d8d6612a7271be9.aspx') Terms of use
                | ,&nbsp;
                a.text-bh-blue.underline(href='/link/208bb3860e324da59d8d6612a7271be9.aspx#personal') processing of personal data
                | &nbsp;and&nbsp;
                a.text-bh-blue.underline(href='/link/485fa77512634181934f32bae1cb9622.aspx') cookie preferences
        .col-span-full(class='md:col-span-2')
            span#sessioninfo 
        .col-span-full.text-left(class='md:col-span-1 md:col-start-12 md:col-end-12 md:text-right')
            button#SignIn.btn.btn-secondary(type="button" onclick="signIn()") Sign In
            button#seeProfile.btn.btn-primary(onclick="seeProfile()") See Profile
            button#readMail.btn.btn-primary(onclick="readMail()") Read Mail