header#site-header.sticky.top-0.z-50
    nav#main-menu.font-Shape-Regular.text-base.bg-white
      .mobilemenu.border-b.sticky.top-0.z-50
        .mobilemenu-btn.border-r.border-bh-gray.place-items-center(class='pt-[11px] pr-[11px] pb-[13px] pl-[10px]')
          img(src='/images/Mobile_Menu.svg' alt='')
        .border-r.border-bh-gray.place-items-center(class='pt-[11px] pr-[13px] pb-[13px] pl-[10px]')
        .justify-self-end.self-center
          a(href='/')
            img.mr-5.max-w-max.h-5(class='w-[135px]' src='/images/skanska_logo.svg')
      .mobile-sub-container(style='display:none;')
        .mobile-sub
          #4308.pl-5.flex.border-b.border-gray-300.font-Shape-Medium.mobil-menu-item.mobile-menu-item4308
            span.flex-auto
              a#4308.mobile-menu-item-link(href='/brand-strategy/')
                | Agil IT Leverans
          #3835.pl-5.flex.border-b.border-gray-300.font-Shape-Medium.mobil-menu-item.mobile-menu-item3835
            span.flex-auto
              | Examples
          #3835.pl-16.flex.border-b.border-gray-300.submobile-menu-item3835
            span.flex-auto
              a#4125.submobile-menu-item-link.active(href='/brand-expression/core-elements/')
                | Sumbenu
          .pl-16.bg-blue-900.border-b.border-gray-300
            a(href='/brand-expression/core-elements/logotype/') Menu Item 1
          .pl-16.bg-blue-900.border-b.border-gray-300
            a(href='/brand-expression/core-elements/typography/') Menu Item 2
          .pl-16.bg-blue-900.border-b.border-gray-300
            a(href='/brand-expression/core-elements/images/') Menu Item 3
          .pl-16.bg-blue-900.border-b.border-gray-300
            a(href='/brand-expression/core-elements/icons/') Menu Item 4
          .pl-16.bg-blue-900.border-b.border-gray-300
      .z-10.hidden.grid-rows-auto(class='lg:grid lg:grid-cols-lg lg:gap-x-lg lg:gap-y-0 lg:py-[15.5px] lg:px-lg xl:grid-cols-xl xl:gap-x-xl xl:gap-y-0 xl:py-[15.5px] xl:px-xl 2xl:grid-cols-2xl 2xl:gap-x-2xl 2xl:gap-y-0 2xl:py-[15.5px] 2xl:px-2xl 3xl:grid-cols-3xl 3xl:gap-x-3xl 4xl:grid-cols-4xl 4xl:gap-x-4xl 4xl:px-4xl')
        #4308.main-menu-item.main-menu-item4308.group.col-span-2.cursor-pointer
          span.text-bh-menu.align-middle
            a#4308.main-menu-item-link(href='/brand-strategy/')
              | Agil IT Leverans
        #3835.main-menu-item.main-menu-item3835.group.col-span-2.cursor-pointer.menu-page
          span.text-bh-menu.align-middle
            | Examples
          img.cursor-pointer.duration-300.w-10.transition.ease-in-out.transform.align-middle.inline-block(class='mt-[2px] ml-[2px] group-hover:translate-x-1 h-[10px]' src='/images/Arrow_Main_Menu.svg' alt='')
        // Seb check logo
        .col-start-12.flex.justify-end.my-auto
          a(href='/')
            img.logo.max-w-max(class='w-[135px]' src='/images/skanska_logo.svg')
        style.
          a:hover.sub-menu-item-link {
          text-decoration: underline;
          }
        .sub-menu-item3835.hidden.absolute.bg-white.col-span-full.left-0.pb-50.pt-6.top-0.w-full.z-10.grid(class='lg:gap-x-lg lg:grid-cols-lg lg:px-lg md:gap-x-md md:grid-cols-md md:px-md mt-[50px] sm:gap-x-sm sm:grid-cols-sm sm:px-sm xl:gap-x-xl xl:grid-cols-xl xl:px-xl xl2:gap-x-2xl xl2:grid-cols-2xl xl2:px-2xl xl3:gap-x-3xl xl3:grid-cols-3xl xl3:px-3xl')
          .col-span-2
            ul
              li.text-bh-menusub.font-Shape-Medium
                a(href='/brand-expression/core-elements/') Sub menu
              li.leading-normal.text-bh-menusub
                a.sub-menu-item-link(href='/brand-expression/core-elements/logotype/')  Menu Item 1
              li.leading-normal.text-bh-menusub
                a.sub-menu-item-link(href='/brand-expression/core-elements/typography/')  Menu Item 2
              li.leading-normal.text-bh-menusub
                a.sub-menu-item-link(href='/brand-expression/core-elements/images/') Menu Item 3
              li.leading-normal.text-bh-menusub
                a.sub-menu-item-link(href='/brand-expression/core-elements/icons/') Menu Item 4
