header.bd-header.bg-light.py-3.d-flex.align-items-stretch.border-bottom.border-dark
  .container-fluid.d-flex.align-items-center
    h1.d-flex.align-items-center.fs-4.text-dark.mb-0
      a(href='/')
        img.me-3(src="https://www.skanska.se/4991f5/globalassets/common-items/skanska-orig-logo-rgb-534.png" height="50px"  alt="Skanska")
      | Agil transformationspuls
    <a href="/result.html" class="ms-auto link-dark">Resultat</a>
