doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=Edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='Rickard Nisses-Gagnér, Skanska Sverige IT')
  title Skanska Agil IT Leverans - Teams
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='canonical' href='https://devopshealthradar.z16.web.core.windows.net/')

  link(rel='apple-touch-icon' href='/images/favicon.svg')
  link(rel='icon' type='image/svg+xml' sizes='any' href='/images/favicon.svg')
  link(rel='alternate icon' href='/images/favicon.ico')
  link(rel='mask-icon' href='/images/favicon.svg')
  link(href='/stylesheets/skanska.css' rel='stylesheet')
  script(src='/scripts/skanska.js')
  link(rel='stylesheet' type='text/css' href='/stylesheets/quicknavigator.css')
  script(type='text/javascript' src='/scripts/quicknavigator.js')

body
  include ../blocks/header_new.pug

  main.content-container.relative
    block content
    include ../blocks/footer.pug
  script(src='https://code.jquery.com/jquery-3.5.1.js' crossorigin='anonymous')
  script(src='/scripts/CustomJavaScript.js')
  script(src='/scripts/settings.js')
  script(src='/scripts/common.js')
block scripts