@import "/node_modules/bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
  background-color:rgb(26, 41, 72);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
}

nav h3
{
    color: rgb(26, 41, 72);
}

a,
a:focus,
a:hover {
  color: #fff;
}

main {
  padding: 10rem 1.5rem;
}

footer {
  color: rgba(255, 255, 255, .5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.absolute{
  position:absolute;
  width:650px;
  top:380px;
  left: 93px;
}



