aside.bg-dark.bd-aside.sticky-xl-top.text-muted.align-self-start.mb-3.mb-xl-5.px-2
  h2.text-white.h6.pt-4.pb-3.mb-4.border-bottom Frågor
  nav#toc.small
    ul.list-unstyled
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#explore-collapse' aria-controls='explore-collapse') 1. Behovsinsamling
        ul#explore-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=0') 1. Lösningar
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=1') 2. Samarbete
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=2') 3. Arkitektur
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=3') 4. Funktioner
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#integrate-collapse' aria-controls='integrate-collapse') 2. Integrera
        ul#integrate-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=4') 1. Utveckling
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=5') 2. Byggen
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=6') 3. Testning
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=7') 4. Acceptans  
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#delivery-collapse' aria-controls='delivery-collapse') 3. Leverans
        ul#delivery-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=8') 1. Deploy
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=9') 2. Verifikation
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=10') 3. Monitorering
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=11') 4. Åtgärda 
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#release-collapse' aria-controls='release-collapse') 4. Release
        ul#release-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=12') 1. Release
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=13') 2. Stabilisering
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=14') 3. Mätning
          li
            a.d-inline-flex.align-items-center.rounded(href='question.html?question=15') 4. Lärande