aside.bg-dark.bd-aside.sticky-xl-top.text-muted.align-self-start.mb-3.mb-xl-5.px-2
  h2.text-white.h6.pt-4.pb-3.mb-4.border-bottom Frågor
  nav#toc.small
    ul.list-unstyled
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#explore-collapse' aria-controls='explore-collapse') Behovsinsamling
        ul#explore-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='explore1.html') Lösningar
          li
            a.d-inline-flex.align-items-center.rounded(href='explore2.html') Samarbete
          li
            a.d-inline-flex.align-items-center.rounded(href='explore3.html') Arkitektur
          li
            a.d-inline-flex.align-items-center.rounded(href='explore4.html') Funktioner
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#integrate-collapse' aria-controls='integrate-collapse') Integrera
        ul#integrate-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='integrate1.html') Utveckling
          li
            a.d-inline-flex.align-items-center.rounded(href='integrate2.html') Byggen
          li
            a.d-inline-flex.align-items-center.rounded(href='integrate3.html') Testning
          li
            a.d-inline-flex.align-items-center.rounded(href='integrate4.html') Acceptans  
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#delivery-collapse' aria-controls='delivery-collapse') Leverans
        ul#delivery-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='delivery1.html') Deploy
          li
            a.d-inline-flex.align-items-center.rounded(href='delivery2.html') Verifikation
          li
            a.d-inline-flex.align-items-center.rounded(href='delivery3.html') Monitorering
          li
            a.d-inline-flex.align-items-center.rounded(href='delivery4.html') Åtgärda 
      li.my-2
        button.btn.btn-dark.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#release-collapse' aria-controls='release-collapse') Release
        ul#release-collapse.list-unstyled.ps-3.collapse
          li
            a.d-inline-flex.align-items-center.rounded(href='release1.html') Release
          li
            a.d-inline-flex.align-items-center.rounded(href='release2.html') Stabilisering
          li
            a.d-inline-flex.align-items-center.rounded(href='release3.html') Mätning
          li
            a.d-inline-flex.align-items-center.rounded(href='release4.html') Lärande