doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='')
  meta(name='author' content='Rickard Nisses-Gagnér, Skanska Sverige IT')
  title Skanska Agil transformationspuls
  link(rel='canonical' href='https://devopshealthradar.z16.web.core.windows.net/')
  link(rel='stylesheet' href='/stylesheets/ui.css')
body.bg-dark.d-flex-flex-column.h-100
  include ../blocks/header.pug 
  include ../blocks/aside.pug 
  .bd-cheatsheet.container-fluid.bg-dark
    block content
    div#spinner.spinner-border.text-primary(role="status" hidden)
  .row.container-fluid.bg-dark
    span#sessioninfo.text-muted Sessioninfo
  script(src='/scripts/checkie.js')  
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
  script(src='/scripts/settings.js')
  script(src='/scripts/ui.js')
  script(src='/scripts/common.js')
block scripts