doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title SAFe Devops hälsoradar 
  link(rel='stylesheet' href='/stylesheets/style.css')
body.text-left
  .main-container.d-flex.h-100.p-3.mx-auto.flex-column
    header.mb-auto
      nav.navbar.navbar-expand-lg.navbar-dark
        a.navbar-brand(href='/') 
          h3 Devops hälsoradar
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='explore1.html') Utforskar
            li.nav-item.active
              a.nav-link(href='integrate1.html') Integrerar
            li.nav-item.active
              a.nav-link(href='deploy1.html') Produktionssätter
            li.nav-item.active
              a.nav-link(href='release1.html') Levererar
    block content
    footer.mt-auto
      .inner
        p
          | SAFe Devops hälsoradar
          a(href='https://getbootstrap.com/') Bootstrap
          | , av 
          a(href='https://www.nisses-gagner.se') Rickard Nisses-Gagnér
          | .
  block scripts