extends ../templates/skanska.pug


block content
  section#content.container
    h2#area.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Agile IT Leverans
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3#name
      div.row
        div.col-md-6
          p#description 
          | Leverara maximalt affärsvärde genom att optimera och effektivisera vårt nyttjande av Skanskas resurser.
          | Genom att: Anpassa vårt arbetssätt att tidigt och strukturerat leverara minsta möjliga tekniska lösningar och möjliggörare till verksamheten för att tidigt få återkoppling och anpassa vår leverans.
          br
          br
          br

block scripts 
  script(src="/scripts/azurefunctions.js")