extends ../templates/startpage.pug
block content
  section#content
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Contents
    article#typography.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Typography
        a.d-flex.align-items-center(href='../content/typography/') Documentation
      div
        .bd-example
          p.display-1 Display 1
          p.display-2 Display 2
          p.display-3 Display 3
          p.display-4 Display 4
          p.display-5 Display 5
          p.display-6 Display 6
        .bd-example
          p.h1 Heading 1
          p.h2 Heading 2
          p.h3 Heading 3
          p.h4 Heading 4
          p.h5 Heading 5
          p.h6 Heading 6
        .bd-example
          p.lead
            | This is a lead paragraph. It stands out from regular paragraphs.
        .bd-example
          p
            | You can use the mark tag to 
            mark highlight
            |  text.
          p
            del This line of text is meant to be treated as deleted text.
          p
            s This line of text is meant to be treated as no longer accurate.
          p
            ins This line of text is meant to be treated as an addition to the document.
          p
            u This line of text will render as underlined.
          p
            small This line of text is meant to be treated as fine print.
          p
            strong This line rendered as bold text.
          p
            em This line rendered as italicized text.
        .bd-example
          blockquote.blockquote
            p A well-known quote, contained in a blockquote element.
            footer.blockquote-footer
              | Someone famous in 
              cite(title='Source Title') Source Title
        .bd-example
          ul.list-unstyled
            li This is a list.
            li It appears completely unstyled.
            li Structurally, it&apos;s still a list.
            li However, this style only applies to immediate child elements.
            li
              | Nested lists:
              ul
                li are unaffected by this style
                li will still show a bullet
                li and have appropriate left margin
            li This may still come in handy in some situations.
        .bd-example
          ul.list-inline
            li.list-inline-item This is a list item.
            li.list-inline-item And another one.
            li.list-inline-item But they&apos;re displayed inline.
    article#images.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Images
        a.d-flex.align-items-center(href='../content/images/') Documentation
      div
        .bd-example
          svg.bd-placeholder-img.bd-placeholder-img-lg.img-fluid(width='100%' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Responsive image' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Responsive image
        .bd-example
          svg.bd-placeholder-img.img-thumbnail(width='200' height='200' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera: 200x200' preserveaspectratio='xMidYMid slice' focusable='false')
            title
              | A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') 200x200
    article#tables.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Tables
        a.d-flex.align-items-center(href='../content/tables/') Documentation
      div
        .bd-example
          table.table.table-striped
            thead
              tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
              tr
                th(scope='row') 3
                td(colspan='2') Larry the Bird
                td @twitter
        .bd-example
          table.table.table-dark.table-borderless
            thead
              tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
              tr
                th(scope='row') 3
                td(colspan='2') Larry the Bird
                td @twitter
        .bd-example
          table.table.table-hover
            thead
              tr
                th(scope='col') Class
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') Default
                td Cell
                td Cell
              tr.table-primary
                th(scope='row') Primary
                td Cell
                td Cell
              tr.table-secondary
                th(scope='row') Secondary
                td Cell
                td Cell
              tr.table-success
                th(scope='row') Success
                td Cell
                td Cell
              tr.table-danger
                th(scope='row') Danger
                td Cell
                td Cell
              tr.table-warning
                th(scope='row') Warning
                td Cell
                td Cell
              tr.table-info
                th(scope='row') Info
                td Cell
                td Cell
              tr.table-light
                th(scope='row') Light
                td Cell
                td Cell
              tr.table-dark
                th(scope='row') Dark
                td Cell
                td Cell
        .bd-example
          table.table.table-sm.table-bordered
            thead
              tr
                th(scope='col') #
                th(scope='col') First
                th(scope='col') Last
                th(scope='col') Handle
            tbody
              tr
                th(scope='row') 1
                td Mark
                td Otto
                td @mdo
              tr
                th(scope='row') 2
                td Jacob
                td Thornton
                td @fat
              tr
                th(scope='row') 3
                td(colspan='2') Larry the Bird
                td @twitter
    article#figures.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Figures
        a.d-flex.align-items-center(href='../content/figures/') Documentation
      div
        .bd-example
          figure.figure
            svg.bd-placeholder-img.figure-img.img-fluid.rounded(width='400' height='300' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: 400x300' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') 400x300
            figcaption.figure-caption A caption for the above image.
  section#forms
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Forms
    article#overview.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Overview
        a.d-flex.align-items-center(href='../forms/overview/') Documentation
      div
        .bd-example
          form
            .mb-3
              label.form-label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
              #emailHelp.form-text We&apos;ll never share your email with anyone else.
            .mb-3
              label.form-label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password')
            .mb-3.form-check
              input#exampleCheck1.form-check-input(type='checkbox')
              label.form-check-label(for='exampleCheck1') Check me out
            fieldset.mb-3
              legend Radios buttons
              .form-check
                input#exampleRadio1.form-check-input(type='radio' name='radios')
                label.form-check-label(for='exampleRadio1') Default radio
              .mb-3.form-check
                input#exampleRadio2.form-check-input(type='radio' name='radios')
                label.form-check-label(for='exampleRadio2') Another radio
            .mb-3
              label.form-label(for='customFile') Upload
              input#customFile.form-control(type='file')
            .mb-3.form-check.form-switch
              input#flexSwitchCheckChecked.form-check-input(type='checkbox' checked='')
              label.form-check-label(for='flexSwitchCheckChecked') Checked switch checkbox input
            .mb-3
              label.form-label(for='customRange3') Example range
              input#customRange3.form-range(type='range' min='0' max='5' step='0.5')
            button.btn.btn-primary(type='submit') Submit
    article#disabled-forms.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Disabled forms
        a.d-flex.align-items-center(href='../forms/overview/#disabled-forms') Documentation
      div
        .bd-example
          form
            fieldset(disabled='' aria-label='Disabled fieldset example')
              .mb-3
                label.form-label(for='disabledTextInput') Disabled input
                input#disabledTextInput.form-control(type='text' placeholder='Disabled input')
              .mb-3
                label.form-label(for='disabledSelect') Disabled select menu
                select#disabledSelect.form-select
                  option Disabled select
              .mb-3
                .form-check
                  input#disabledFieldsetCheck.form-check-input(type='checkbox' disabled='')
                  label.form-check-label(for='disabledFieldsetCheck')
                    | Can&apos;t check this
              fieldset.mb-3
                legend Disabled radios buttons
                .form-check
                  input#disabledRadio1.form-check-input(type='radio' name='radios' disabled='')
                  label.form-check-label(for='disabledRadio1') Disabled radio
                .mb-3.form-check
                  input#disabledRadio2.form-check-input(type='radio' name='radios' disabled='')
                  label.form-check-label(for='disabledRadio2') Another radio
              .mb-3
                label.form-label(for='disabledCustomFile') Upload
                input#disabledCustomFile.form-control(type='file' disabled='')
              .mb-3.form-check.form-switch
                input#disabledSwitchCheckChecked.form-check-input(type='checkbox' checked='' disabled='')
                label.form-check-label(for='disabledSwitchCheckChecked') Disabled checked switch checkbox input
              .mb-3
                label.form-label(for='disabledRange') Disabled range
                input#disabledRange.form-range(type='range' min='0' max='5' step='0.5')
              button.btn.btn-primary(type='submit') Submit
    article#sizing.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Sizing
        a.d-flex.align-items-center(href='../forms/form-control/#sizing') Documentation
      div
        .bd-example
          .mb-3
            input.form-control.form-control-lg(type='text' placeholder='.form-control-lg' aria-label='.form-control-lg example')
          .mb-3
            select.form-select.form-select-lg.mb-3(aria-label='.form-select-lg example')
              option(selected='') Open this select menu
              option(value='1') One
              option(value='2') Two
              option(value='3') Three
          .mb-3
            input.form-control.form-control-lg(type='file' aria-label='Large file input example')
        .bd-example
          .mb-3
            input.form-control.form-control-sm(type='text' placeholder='.form-control-sm' aria-label='.form-control-sm example')
          .mb-3
            select.form-select.form-select-sm(aria-label='.form-select-sm example')
              option(selected='') Open this select menu
              option(value='1') One
              option(value='2') Two
              option(value='3') Three
          .mb-3
            input.form-control.form-control-sm(type='file' aria-label='Small file input example')
    article#input-group.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Input group
        a.d-flex.align-items-center(href='../forms/input-group/') Documentation
      div
        .bd-example
          .input-group.mb-3
            span#basic-addon1.input-group-text @
            input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
          .input-group.mb-3
            input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='basic-addon2')
            span#basic-addon2.input-group-text @example.com
          label.form-label(for='basic-url') Your vanity URL
          .input-group.mb-3
            span#basic-addon3.input-group-text https://example.com/users/
            input#basic-url.form-control(type='text' aria-describedby='basic-addon3')
          .input-group.mb-3
            span.input-group-text $
            input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
            span.input-group-text .00
          .input-group
            span.input-group-text With textarea
            textarea.form-control(aria-label='With textarea')
    article#floating-labels.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Floating labels
        a.d-flex.align-items-center(href='../forms/floating-labels/') Documentation
      div
        .bd-example
          form
            .form-floating.mb-3
              input#floatingInput.form-control(type='email' placeholder='name@example.com')
              label(for='floatingInput') Email address
            .form-floating
              input#floatingPassword.form-control(type='password' placeholder='Password')
              label(for='floatingPassword') Password
    article#validation.my-3
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Validation
        a.d-flex.align-items-center(href='../forms/validation/') Documentation
      div
        .bd-example
          form.row.g-3
            .col-md-4
              label.form-label(for='validationServer01') First name
              input#validationServer01.form-control.is-valid(type='text' value='Mark' required='')
              .valid-feedback
                | Looks good!
            .col-md-4
              label.form-label(for='validationServer02') Last name
              input#validationServer02.form-control.is-valid(type='text' value='Otto' required='')
              .valid-feedback
                | Looks good!
            .col-md-4
              label.form-label(for='validationServerUsername') Username
              .input-group.has-validation
                span#inputGroupPrepend3.input-group-text @
                input#validationServerUsername.form-control.is-invalid(type='text' aria-describedby='inputGroupPrepend3' required='')
                .invalid-feedback
                  | Please choose a username.
            .col-md-6
              label.form-label(for='validationServer03') City
              input#validationServer03.form-control.is-invalid(type='text' required='')
              .invalid-feedback
                | Please provide a valid city.
            .col-md-3
              label.form-label(for='validationServer04') State
              select#validationServer04.form-select.is-invalid(required='')
                option(selected='' disabled='' value='') Choose...
                option ...
              .invalid-feedback
                | Please select a valid state.
            .col-md-3
              label.form-label(for='validationServer05') Zip
              input#validationServer05.form-control.is-invalid(type='text' required='')
              .invalid-feedback
                | Please provide a valid zip.
            .col-12
              .form-check
                input#invalidCheck3.form-check-input.is-invalid(type='checkbox' value='' required='')
                label.form-check-label(for='invalidCheck3')
                  | Agree to terms and conditions
                .invalid-feedback
                  | You must agree before submitting.
            .col-12
              button.btn.btn-primary(type='submit') Submit form
  section#components
block scripts 
  
      

