extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Leverans 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Verifikation
      div.row
        div.col-md-6
          p#description Driftsättningar måste verifieras fullständighet innan funktioner slås på för slutanvändarna.
          p#des(hidden) Deployments must be verified for completeness and integrity before releasing to end users. 
          hr
          h5#rate Bedöm teamets förbåga att bedömma leveranser, återställa och/eller fixa leveransproblem.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Leveranser är inte verifierade i produktion innan användaren får ta del av dom
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Leveranser är manuellt undersökta av smoke-test och/eller UAT. Eventuella problem fixas inom kort och ofta direkt i produktion direkt.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Levferanser är verifierade manuellt innan de slås på för användare. Återställning är omständligt eller omöjligt. Vi gör aldirg justeringar i produktionsmiljön.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Leveranser verifieras av automatiserade smoke tester, scriptad genomgång av vanliga funktioner och intrångstest görs innan användare får ta del av funktioner. Det är enkelt att göra återställning.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Automatiserade tester körs kontinuerligt och uppdaterar övervakningssystem; Leveranser som inte fungerar återställs ögonblickligen eller fixas direkt med hjälp av en ny leverans.

          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(10, 'delivery3.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")