extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Leverans 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Deploy
      div.row
        div.col-md-6
          p#description Deploy innfattar den faktiska överföringen av funktioner till produktionsmiljön. Den kontinuerliga leveransen separerar release och deploy (leverans), levererade funktioner är ite alltid live för användarna.
          p#des(hidden) Deployment is the actual migration of features into the production environment. Because the Continuous Delivery Pipeline separates deployment from release, deployed features are not assumed to be live to end users. 
          hr
          h5#rate Bedöm teamets förmåga att kontinuelrigt leverera och kontrollera tillgängligheten av funktioner i produktionsmiljön (feature toggle)
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Funktioner levereras vmer sällan än var tredje månad.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Funktioner levereras under varje leveransperiod; Deploy är mestadels manuell. Det finns ingen skillnad på leverarad eller releasad.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Funktioner leveraras varje sprint, leveranser är mestadels automatiserade, vissa funktioner kan läggas ut utan att klasssas som releasade.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Funktioner leveraras varje sprint, fullt automatiserade.  Features are deployed to production every iteration and fully automated through the pipeline; Leveranser märks oftast inte (dark release)
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Funktioner läggs ut kontinuerligt under sprinten. Utvecklarteam initerar själva leveranser till produktion. Release är helt separerat från. Leveranser märks aldrig.
          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(9, 'delivery2.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")