extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Kontinuerligt utforska 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Samarbete & utforskande
      div.row
        div.col-md-6
          p#description Samarbeten och undersökningar undersökningar involverar produktägaren som i sin tur arbetar direkt med slutanvändare, intressenter och ämnesexperter för att förstå verksamhetens behov och identifierar specifika affärsresultat och tillhörande mätvärden för att styra leverans lösningar.
          hr
          h5#rate Betygsätt verksamhetsområdet förmåga att samarbeta tillsammans mellan verksamheten och IT för att definiera Minimum Marketable Features (MMF) som stödjer hypotesuttalandet.  
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> -   Roller och ansvar för processområdet är odefinierade eller följs inte.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> -  processområdet skapar behov I omgångar med lite samarbete mellan verksamhet och IT.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> -  Processområdet sammarbetar med verksamheten och IT exporter men inte med båda när man definerar behoven
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> -  Processområdet samarbetar regelbundet med verksamheten och IT experter men skapar inte Minimum Marketable Features..
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> -  Processområdet samarbetar alltid med verksamheten och IT experter och har definerat Minimum Marketable Features

          input#saveandnext(type="button" value="Nästa >" onclick="answer_saveandnext(2, 'explore3.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")