extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Behovsinsamling 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Samarbete
      div.row
        div.col-md-6
          p#description Samarbeten och undersökningar innebär att verksamheten involveras. Produktägaren/produktspecialister arbetar direkt med slutanvändare, intressenter och ämnesexperter för att förstå verksamhetens behov och identifierar specifika affärsresultat och tillhörande mätvärden för att styra leverans lösningar.
          hr
          h5#rate Betygsätt verksamhetsområdet förmåga att samarbeta mellan verksamheten och IT för att definiera välformulerade lösningsförslag som stödjer behoven, samt att inludera dessa i marknadsföringsbara funktioner
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Roller och ansvar för verksamhetsområdet är odefinierade eller följs inte.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> -  Verksamhetsområdet skapar behov och lösningar i omgångar med lite samarbete mellan verksamhet och IT.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> -  Verksamhetsområdet sammarbetar med verksamhetens och ITs exporter, men inte med båda när man definerar behoven
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> -  Verksamhetsområdet samarbetar regelbundet med verksamhetens och ITs experter men inkluderar inte behoven i marknadsföringsbara funktioner.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> -  Processområdet samarbetar alltid med verksamheten och IT experter och inkluderar behoven i marknadsföringsbara funktioner

          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(2, 'explore3.html')")
          div#result
        div.col-md-6
            img(src="/images/explore2.png" width="100%")
block scripts
  script(src="/scripts/azurefunctions.js")