extends ../templates/startpage.pug
block content
      h2 Kontinuerligt utforska
      h3 Arkitektur
      div.row
        p#description Att arkitekturen möjliggör för kontinuerlig leverans innebär att man använder "tillräckligt" arkitektur för att säkerställa att lösningarna är löst kopplade, detta för att kontinuerligt kunna reducera teknisk skuld.
        hr
        h5#rate Bedöm teamets förmåga att utforma effektiv kontinuerlig leverans  
      hr
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="1")
        label.form-check-label(for='radio1') Sitter -  Det är svårt att genomföra förändringar, det finns komplexa beroenden mellan många komponenter och system (Ömtåligt) 
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="2")
        label.form-check-label(for='radio1') Kryper - Vissa system separerade men det mesta är komplext och sammankopplat
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="3")
        label.form-check-label(for='radio1') Går - Det mesta är separerat men det tillåter inte ”Release vid behov”
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="4")
        label.form-check-label(for='radio1') Springer - Få sammankopplade system och leveranser är baserat på att leverera värde 
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="5")
        label.form-check-label(for='radio1') Flyger - Arkitekturen är byggd för ”Release vid behov” och funktionalitet.
      hr
      input#saveandnext(type="button" value="Nästa >"  onclick="answer_saveandnext(3, 'explore4.html')")
      div#result
block scripts 
  script(src="/scripts/azurefunctions.js")