extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Behovsinsamling 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Arkitektur
      div.row
        div.col-md-6
          p#description Att arkitekturen stödjer en kontinuerlig leverans innebär att man använder "tillräckligt" lösta kopplingar mellan systemt, att man minimerar beroenden och risker för teknisk skule och svårigheter att kunna leverara mindre lösningar kontinuerligt.
          hr
          h5#rate Bedöm teamets förmåga att skapa lösningar som går att separat leverara kontinuerligt.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Det är svårt att genomföra förändringar, det finns komplexa beroenden mellan många komponenter och system (Ömtåligt) 
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Vissa system är separerade men det mesta är komplext och sammankopplat
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Det mesta är separerat men det tillåter inte ”Release vid behov”
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Få sammankopplade system och leveranser är baserat på att leverera värde 
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Arkitekturen är byggd för ”Release vid behov”.
          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(3, 'explore4.html')")
          div#result
        div.col-md-6
            img(src="/images/explore3.png" width="100%")
block scripts
  script(src="/scripts/azurefunctions.js")