extends ../templates/startpage.pug
block content
      h2 Kontinuerligt utforska
      h3 Samarbete & utforskande
      div.row
        p#description Samarbeten och undersökningar undersökningar involverar produktägaren som i sin tur arbetar direkt med slutanvändare, intressenter och ämnesexperter för att förstå verksamhetens behov och identifierar specifika affärsresultat och tillhörande mätvärden för att styra leverans lösningar.
        hr
        h5#rate Betygsätt verksamhetsområdet förmåga att samarbeta tillsammans mellan verksamheten och IT för att definiera Minimum Marketable Features (MMF) som stödjer hypotesuttalandet.  
      hr
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="1")
        label.form-check-label(for='radio1') Sitter - Roller och ansvar för verksamhetsområdet är odefinierade eller följs inte.
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="2")
        label.form-check-label(for='radio1') Kryper - Verksamhetsområdet skapar behov I omgångar med lite samarbete mellan verksamhet och IT.
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="3")
        label.form-check-label(for='radio1') Går - Verksamhetsområdet sammarbetar med verksamheten och IT experter men inte med båda när man definerar behoven
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="4")
        label.form-check-label(for='radio1') Springer - Verksamhetsområdet samarbetar regelbundet med verksamheten och IT experter men skapar inte Minimum Marketable Features..
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="5")
        label.form-check-label(for='radio1') Flyger - Verksamhetsområdet samarbetar alltid med verksamheten och IT experter och har definerat Minimum Marketable Features
      hr
      input#saveandnext(type="button" value="Nästa >"   onclick="answer_saveandnext(2, 'explore3.html')")
      div#result
block scripts 
  script(src="/scripts/azurefunctions.js")