extends ../templates/startpage.pug
block content
      h2 Kontinuerligt utforska 
      h3 Lösningsorienterad
      div.row
        p#description Affärsidéer (behov) skall uttryckas i termer av det affärsvärde den förväntas leverera. Denna implementeras sedan som en minsta värdefull (viable) produkt (MVP) som levereras och utvärderas i en kontinuerlig leverans
        hr
        h5#rate Betygsätt teamets förmåga att översätta affärsidéer till tydliga och mätbara hypotesuttalanden (lösningsförslag).
      hr
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="1")
        label.form-check-label(for='radio1') Sitter -  Idéer är vaga eller odefinierade
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="2")
        label.form-check-label(for='radio1') Kryper - Idéer är definierade men innehåller inga hypotesuttalanden
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="3")
        label.form-check-label(for='radio1') Går - Några Idéer (behov) är uttryckta med mätbara hypotesuttalanden 
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="4")
        label.form-check-label(for='radio1') Springer - De flesta idéerna är utryckte med mätbara hypotesuttalanden och inkluderar en MVP
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="5")
        label.form-check-label(for='radio1') Flyger - Alla idéerna är utryckte med mätbara hypotesuttalanden och inkluderar en MVP
      hr
      input#saveandnext(type="button" value="Nästa >"  onclick="answer_saveandnext(1, 'explore2.html')")
      div#result
block scripts 
  script(src="/scripts/azurefunctions.js")