extends ../templates/startpage.pug
block content
      h2 Kontinuerligt utforska
      h3 Samarbete & utforskande
      div.row
        p#description Collaborate and Research involves Product Managers working directly with end-users, stakeholders and subject matter experts to understand customers' needs and identify specific business outcomes and associated metrics to guide solution delivery.
        hr
        h5#rate Betygsätt processområdets förmåga att samarbeta tillsammans med verksamheten och med IT experter för att definiera Minimum Marketable Features (MMF) som stödjer hypotesuttalandet.  
      hr
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="1")
        label.form-check-label(for='radio1') Sitter -  Roller och ansvar för processområdet är odefinierade eller följs inte.
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="2")
        label.form-check-label(for='radio1') Kryper - processområdet skapar behov I omgångar med lite samarbete mellan verksamhet och IT.
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="3")
        label.form-check-label(for='radio1') Går - Processområdet sammarbetar med verksamheten och IT exporter men inte med båda när man definerar behoven
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="4")
        label.form-check-label(for='radio1') Springer - Processområdet samarbetar regelbundet med verksamheten och IT experter men skapar inte Minimum Marketable Features..
      .form-check
        input#radio1.form-check-input(type='radio' name='answer' value="5")
        label.form-check-label(for='radio1') Flyger - Processområdet samarbetar alltid med verksamheten och IT experter och har definerat Minimum Marketable Features
      hr
      input#saveandnext(type="button" value="Nästa >"   onclick="answer_saveandnext(2, 'explore3.html')")
      div#result
block scripts 
  script(src="/scripts/azurefunctions.js")