extends ../templates/startpage.pug
block content
      h2 SAFe Devops hälsoradar
      div.row
        p#description Här följer nu strax 16 stycken frågor som du skall besvara så gott du kan. En metod är att gemensamt ha ett möte för att diskuttera varje fråga och sedan svara individuellt. 
        hr
        h5#rate Ange din verksamhet och vilken roll främst du har
      hr
      .mb-3.row
        label.col-sm-2.col-form-label(for='role') Verksamhet
        .col-sm-10
          select#area.form-select.form-select-sm(aria-label='Roller')
            option(value='HR') HR
            option(value='Maskinuthyrning') Maskinuthyrning
            option(value='Marknad och sälj') Marknad och sälj
        label.col-sm-2.col-form-label(for='role') Roll
        .col-sm-10
          select#role.form-select.form-select-sm(aria-label='Roller')
            option(value='teammedlem') levererande team
            option(value='scrumledare') scrumledare
            option(value='produktägare') Produktägare
            option(value='Processområdesledare') Processområdesledare 
            option(value='ITSM') ITSM 
            option(value='Arkitekt') Arkitekt
      hr  
      input#saveandnext(type="button" value="Nästa >" onclick="page1_saveandnext('explore1.html')")
      div#result
block scripts 
  script(src="/scripts/azurefunctions.js")
      

