extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Integrera 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Build
      div.row
        div.col-md-6
          p#description Bygge sker vid incheckning och innefattar kompilering, enhetstestning, merge till trunk/main samt konstruktion av deploybart paket.
          p#des(hidden) Build is triggered at the moment of check-in and involves compiling, unit testing (and other forms of component-level validation), successfully merging to trunk/main, committing to the repository and producing deploy-able artifacts. 
          hr
          h5#rate Bedöm leveransteamets förmåga att bygga paket och få ut paket för test.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Byggen körs inte alltid vid incheckning och/eller görs manuellt.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Byggen körs varje minst varje sprint och är delvis automatiserade; branch för utveckling är öppen i en månad eller mer. Byggen fungerar inte alltid
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Byggen körs automatiskt varje dag. Byggen som inte fungerat fixas omgående; manuella enhetsteser körs mot varje bygge; branch för utveckling är öppen i 2-4 veckor.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Byggen körs automatiskt vid varej incheckning; brutna byggen fixas direkt; automatiserade enhetstester körs vid varje bygge; branch för utveckling stängs efter varje sprint. 
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Byggen körs vid varje incheckning; byggen inkluderar kod och säkerhetsanalys; gated checkins används för att inte få in kod som bryter byggen; branch för utveckling stängs efter varje incheckning.

          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(6, 'integrate3.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")