extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Integrerar kontinuerlig 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Stage
      div.row
        div.col-md-6
          p#description Staging involves deploying features to a full copy of the production environment, from where they can be demonstrated to stakeholders, user acceptance tested and hosted for training purposes prior to production launch. 
          hr
          h5#rate Please rate your team's ability to stage features in full production-like (non-test) environments for final validation prior to production deployment.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> -   Bedöm leveransteamets förmåga attverifiera funnktioner i helt produktionlik miljö (stage)
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> -  No staging environment exists or we use a test environment for staging.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> -  Features are deployed manually to a staging environment once every PI.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> -  Features are deployed to a staging environment once per month and demonstrated to Product Management.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> -  Features and infrastructure are auto-deployed to a staging environment every iteration and accepted by Product Management. Stories, changes and infrastructure are auto-deployed to a staging environment, validated, and immediately proceed to deployment.
          input#saveandnext(type="button" value="Nästa >" onclick="answer_saveandnext(8, 'delivery1.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")