extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Integrera 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Acceptans
      div.row
        div.col-md-6
          p#description Acceptansmiljö (UAT) innebär att funktioner läggs ut på en fullständig kopia av produktionsmiljön, här demonstreras de för intressenter, acceptanstestas och används för utbildningsändamål innan produktionsstart.
          p#des(hidden) Staging involves deploying features to a full copy of the production environment, from where they can be demonstrated to stakeholders, user acceptance tested and hosted for training purposes prior to production launch. 
          hr
          h5#rate Bedöm teamets förmåga att lägga ut funktioner o en acceptansmiljö för slutgiltig validering innan produktionssättning
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Det finns ingen acceptansmiljö eller test används som acceptansmiljö
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> -  Funktioner läggs ut manuellt på en acceptansmiljö en gång per leveransperiod
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Funktioner läggs ut i en acceptansmiljö omgkring en gång per månad och visas för intressenter m.fl.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Funktioner och infrastrkutur läggs ut automatiskt varje sprint och accepteras av verksamhetsområdet. Behov och 
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Behov och infrastrukturändringar läggs ut automatsiskt, valideras och skicaks sedan direkt vidare till produktionssättning (deploy).
          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(8, 'delivery1.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")