extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Integrera 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Utveckling
      div.row
        div.col-md-6
          p#description Att utveckla med kontinuitet innebär att dela upp övergirpande funktioner i behov, implementera behoven med hjälp av aktiviteter och med testdriven utveckling (TDD) samt göra versionshanterade förändringar.
          p#des(hidden) Developing in the Continuous Delivery Pipeline involves splitting features into stories, implementing stories in vertical slices using Test-Driven Development (TDD), and committing changes to version control as they are made.
          hr
          h5#rate Bedöm leveransteamens förmåga att snabbt och stabilt definiera och genomföra aktiviteter
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Det finns ingen backlog (aktivitetslista) på teamnivå och/eller den underhålls inte på daglig basis.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Aktiviteter är för övergripande eller otydliga; enhetstester och granskning görs vanligtvis inte.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Aktiveteter är tydliga, enhetstester och granskning görs, men inte alltid.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Kod checkas in dagligen, enhetstester till ca 80% och kodgranskning görs alltid.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Kod checkas in flera gånger per dag, enhetstester skrivs först (TDD), parprogrammering och andra kvalitestprocesser är standard
          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(5, 'integrate2.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")