.form-check
    input#radio1.form-check-input(type='radio' name='answer' value="1")
    label.form-check-label(for='radio1') Sitter
.form-check
    input#radio2.form-check-input(type='radio' name='answer' value="2")
    label.form-check-label(for='radio2') Kryper
.form-check
    input#radio3.form-check-input(type='radio' name='answer' value="3")
    label.form-check-label(for='radio2') Går
.form-check
    input#radio4.form-check-input(type='radio' name='answer' value="4")
    label.form-check-label(for='radio2') Springer
.form-check
    input#radio4.form-check-input(type='radio' name='answer' value="5")
    label.form-check-label(for='radio2') Flyger