extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Release vid behov 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Learn
      div.row
        div.col-md-6
          p#description Lärande innebär att man bedömmer lösningsförslag baserat på objektiva mätningar av verksamhetsvärde, prestanda och återkoppling från verksamheten
          p#des(hidden) Learning entails making a judgment call to validate or invalidate the original hypothesis based on objective measures of business value, system performance and customer feedback.
          hr
          h5#rate Bedöm teamets förmåga att fatta strategiska (förbättra/byt ut) beslut baserat på empirsik mätning av användande och prestanda. Infomration används för att kontinuerligt förbättra leveransströmmen.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> -   Funktioner utvärderas aldrig efter att de gjorts tillgängliga
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Vissa funktioner utvärderas subjektivt och genom användarnas osikter
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> - Lösningar utvärderas genom objektiv mätning men åtgärder styrs mycket av företagsultur och processer.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Lösningar utvärderas genom objektiv mätning förbättra/byt ut beslut görs utan omtanke eller skuld
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Kontinuerligt lärande och experimenterande är en natur del av företagets kultur.
          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandsubmit(16)")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")