extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Release 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Stabilisering
      div.row
        div.col-md-6
          p#description En kontinuerlig leverans kräver att produktionsmiljön är stabil, pålitlig, tillgänglig, supportbar och säker.
          p#des(hidden) The Continuous Delivery Pipeline requires the production environment to be continually stable, reliable, available, supportable and secure.
          hr
          h5#rate Bedöm teamets förmåga att bibehålla stabila lösningar som undviker oplanerad nedtid och säkerhetsbrister.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') <b>Sitter</b> - Vi har ofta oplanerad nedtid och/eller säkerhetsbrister med långa återställningstider.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') <b>Kryper</b> - Vi har några oplanerade nedtider men håller SLA.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') <b>Går</b> -  Vi har få oplanerade nedtider. Tillgänglighet, säkerhet och "disaster recovery" fungerar bra och effektivt.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') <b>Springer</b> - Vi har inga oplanerade nedtider. Vi planerar och övar återställning m.m.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') <b>Flyger</b> - Vi maximerar stabilitet genom att medvetet injicera fel i produktion och öva återställning.

          input#saveandnext.btn.btn-primary(type="button" value="Nästa >" onclick="answer_saveandnext(14, 'release3.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")