extends ../templates/startpage.pug
block content
  section#content
    div
    h2.sticky-xl-top.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3  Release vid behov 
    article
      .bd-heading.sticky-xl-top.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
        h3 Stabilize
      div.row
        div.col-md-6
          p#description The Continuous Delivery Pipeline requires the production environment to be continually stable, reliable, available, supportable and secure.
        Please rate your team's effectiveness at maintaining stable solutions that avoid unplanned down time and security breaches.
          hr
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="1")
            label.form-check-label(for='radio1') Sitter -   We experience frequent unplanned outages and/or security breaches with long recovery times.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="2")
            label.form-check-label(for='radio1') Kryper -  We experience occasional unplanned outages but recover within our service level agreements.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="3")
            label.form-check-label(for='radio1') Går -  We have very few unplanned outages; availability, security, and disaster recovery measures are effective.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="4")
            label.form-check-label(for='radio1') Springer -  We have no unplanned outages; We plan and rehearse failure and recovery.
          .form-check
            input#radio1.form-check-input(type='radio' name='answer' value="5")
            label.form-check-label(for='radio1') Flyger -  We maximize resiliency by deliberately injecting faults into our production environment and rehearsing recovery procedures.

          input#saveandnext(type="button" value="Nästa >" onclick="answer_saveandnext(1, 'explore2.html')")
          div#result
        div.col-md-6
            p BILD
block scripts
  script(src="/scripts/azurefunctions.js")